---
layout: default
title: Resume
---
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Summary</h2>
            <p>Soon-to-be graduate from the University of
                Louisville seeking an entry level
                development or IT service position with an
                engaging and growth-focused company.</p>
            <h2>Technical Skills</h2>
            {% for listing in site.data.resume.skills %}
            <h5>{{ listing.name }}</h5>
            <ul>
                {% for skill in listing.skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="col-md-7 offset-md-1">
            <h2>Education</h2>
            {% for edu in site.data.resume.education %}
            <h5>{{ edu.school }} | {{ edu.degree }}</h5>
            <h6>{{ edu.city}}, {{ edu.state }} ({{ edu.start }} &mdash; {{ edu.end }})</h6>
            <ul>
                {% for note in edu.remarks %}
                <li>{{ note }}</li>
                {% endfor %}
            </ul>
            {% endfor %}

            <h2>Professional Experience</h2>
            {% for job in site.data.resume.professions %}
            <h5>{{ job.company }} | {{ job.position }} | {{ job.type }}</h5>
            <h6>{{ job.city}}, {{ job.state }} ({{ job.start }} &mdash; {{ job.end }})</h6>
            <ul>
                {% for note in job.remarks %}
                <li>{{ note }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>